html {
    font-family: 'Roboto', sans-serif;
}

.background {
    background-color: #e89da2;
    width: 400px;
    border-radius: 10px;
    border: 5px solid #e89da2;
}

.titulo {
    padding: 2% 2%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    color: #f9f9f9;
    background-color: #db7987;
}

.linha {
    background-color: #b64959;
    height: 1px;
    margin: 0px 0px 20px;
    opacity: 80%;
}

.campo {
    position: relative;
    top: 10px;
    margin: 10px;
}

.rotulo {
    font-size: 16px;
    padding: 2px;
    color: #f9f9f9;
}

input {
    padding: 2px;
    color: #f9f9f9;
}

.caixa {
    border: 1px solid #b64959;
    font-size: 16px;
    padding: 3px;
    text-align: center;
    border-width: 2px;
    border-radius: 5px;
    background-color: #b64959;
    font-style: italic;
    margin: 5px;
}

#txtvalor1 {
    width: 80%;
}

#txtvalor2 {
    width: 80%;
}

.btn input {
    background-color: #fdc9d2;
    border-radius: 10px;
    border: 2px solid #fdc9d2;
    display: inline-block;
    cursor: pointer;
    color: #b64959;
    font-family: Arial;
    font-size: 17px;
    padding: 5px;
    width: 43%;
    text-decoration: none;
    margin: 10px;
}

.btn input:hover {
    background-color: #db7987;
    border: 1px solid #db7987;
    color: #f9f9f9;
}

.resultado {
    padding: 2% 2%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    color: #f9f9f9;
    font-size: 20px;
    background-color: #b64959;
}
